{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    Lembrar de colocar algum texto
                </h1>
                <h2 class="splash-subhead">
                    mais texto
                </h2>
                <p>
                    <a href="#" class="pure-button primary-button">Cadastrar Turmas</a>
                </p>
            </div>
        </div>
    </div>
</div>

  <div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <h4 class="content-subhead">Listagem de Turmas</h4>
            <p>Abaixo a lista de Turmas </p>
        </div>
    </div>
</div>

{% for turma in turmas %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <a href="{% url 'details' turma.idTurma %}">
            {% if turma.url %}
            <img src="{{turma.url.url}}" alt="{{ turma.nome }}"/>
            {% else %}
            <img src="..{% static 'img/course-image.png' %}" alt="{{ turma.nome }}"/>
            {%endif%}
                       </a>

        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead"><a href="{% url 'details' turma.idTurma %}" title="">{{ turma.nome }}</a></h4>
            
            {{turma.descricao|linebreaks}}
            
        </div>
    </div>
</div>
    {% empty %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <p>Nenhuma Turma Cadastrada No Sistema</p>
        </div>
    </div>
</div>
{%endfor%}
{% endblock %}